
{% load i18n %}


{% include "_section_title.html" with subheading="About" heading="learn more about us" %}


<section>
  <div class="container mx-auto grid gap-5 text-center text-white sm:grid-cols-3 my-10">
    <div class="flex flex-col justify-around border-gray-300">
      <h3 class="font-bold">
        <span><i class="fa-solid fa-sack-dollar mr-2"></i></span>{% trans "PROFITABILITY" %}
      </h3>
      <p>{% trans "Optimized income" %}</p>
      <div class="mx-auto w-10 border-b border-stone-500 py-1 pt-5 sm:hidden"></div>
    </div>

    <div class="flex flex-col justify-around border-gray-300">
      <h3 class="font-bold">
        <span><i class="fa-solid fa-sack-dollar mr-2"></i></span>{% trans "SECURITY" %}
      </h3>
      <p>{% trans "A property in excellent" %}</p>
      <div class="mx-auto w-10 border-b border-stone-500 py-1 pt-5 sm:hidden"></div>
    </div>

    <div class="flex flex-col justify-around border-gray-300">
      <h3 class="font-bold">
        <span><i class="fa-solid fa-sack-dollar mr-2"></i></span>{% trans "SERENITY" %}
      </h3>
      <p>{% trans "Satisfied tenants" %}</p>
      <div class="mx-auto w-10 border-b border-stone-500 py-1 pt-5 sm:hidden"></div>
    </div>
  </div>
</section>

{% comment %} <section>
  <div
    class="container mx-auto grid gap-5 text-center text-white sm:grid-cols-3 my-10"
  >
    <div class="flex flex-col justify-around border-gray-300">
      <h3 class="font-bold">
        <span><i class="fa-solid fa-sack-dollar mr-2"></i></span>PROFITABILITY
      </h3>
      <p>Optimized income</p>
      <div
        class="mx-auto w-10 border-b border-stone-500 py-1 pt-5 sm:hidden"
      ></div>
    </div>

    <div class="flex flex-col justify-around border-gray-300">
      <h3 class="font-bold">
        <span><i class="fa-solid fa-sack-dollar mr-2"></i></span>SECURITY
      </h3>

      <p>A property in excellent</p>
      <div
        class="mx-auto w-10 border-b border-stone-500 py-1 pt-5 sm:hidden"
      ></div>
    </div>

    <div class="flex flex-col justify-around border-gray-300">
      <h3 class="font-bold">
        <span><i class="fa-solid fa-sack-dollar mr-2"></i></span>SERENITY
      </h3>

      <p>Satisfied tenants</p>
      <div
        class="mx-auto w-10 border-b border-stone-500 py-1 pt-5 sm:hidden"
      ></div>
    </div>
  </div>
</section> {% endcomment %}
