{% load static i18n %}

<!-- Section "Pourquoi Choisir ANGKOR LUXE..."  -->
<!-- Titre + 8 blocs -->

<section class=" text-white py-12 bg-black">
    <div class="container mx-auto px-4 max-w-5xl">

      <h2 class="text-center text-3xl font-semibold mb-20 uppercase">Pourquoi Choisir ANGKOR LUXE pour Votre Gestion Locative ?</h2>


      <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8">
        
        <!-- Augmentation de Votre Rendement Locatif -->
        <div class="p-3  rounded-lg " data-aos="fade-up">
          <h3 class="text-yellow-500 font-semibold mb-2 border-b border-stone-500 py-1 uppercase">Augmentation de Votre Rendement Locatif</h3>
          <p class="">Boostez le rendement financier de votre bien grâce à notre maîtrise de la gestion locative. Chaque aspect est minutieusement ajusté pour assurer une performance optimale et convertir votre propriété en une source de revenus stable et séduisante.</p>
        </div>
        
        <!-- Gestion Sereine de Votre Bien -->
        <div class="p-3  rounded-lg" data-aos="fade-up">
          <h3 class="text-yellow-500 font-semibold mb-2 border-b border-stone-500 py-1 uppercase">Gestion Sereine de Votre Bien</h3>
          <p class="">Remettez-nous les clés de votre propriété et détendez-vous. Nous prenons en charge toutes les facettes de la location pour vous, garantissant non seulement la sécurité de votre investissement mais aussi votre tranquillité d'esprit complète.</p>
        </div>
        

        
        <!-- Services Sur Mesure -->
        <div class="p-3  rounded-lg" data-aos="fade-up">
          <h3 class="text-yellow-500 font-semibold mb-2 border-b border-stone-500 py-1 uppercase">Services Sur Mesure</h3>
          <p class="">Nous reconnaissons que chaque bien possède ses propres caractéristiques. C'est dans cet esprit que notre offre est conçue pour répondre de manière ciblée à vos exigences spécifiques, garantissant une gestion sur mesure et performante.</p>
        </div>
        
        <!-- Transparence Garantie -->
        <div class="p-3  rounded-lg" data-aos="fade-up">
          <h3 class="text-yellow-500 font-semibold mb-2 border-b border-stone-500 py-1 uppercase">Transparence Garantie</h3>
          <p class="">Nous nous engageons à une transparence sans faille, favorisant une communication claire et établissant une confiance mutuelle pour une gestion efficace de votre bien.</p>
        </div>
        

        
        <!-- Satisfaction des Hôtes -->
        <div class="p-3  rounded-lg" data-aos="fade-up">
          <h3 class="text-yellow-500 font-semibold mb-2 border-b border-stone-500 py-1 uppercase">Satisfaction des Hôtes</h3>
          <p class="">Nous veillons au bien-être de vos invités, assurant leur satisfaction totale et transformant chaque séjour en une expérience inoubliable qui renforce l'attrait de votre bien.</p>
        </div>
        
        <!-- Gestion Intégrale -->
        <div class="p-3  rounded-lg" data-aos="fade-up">
          <h3 class="text-yellow-500 font-semibold mb-2 border-b border-stone-500 py-1 uppercase">Gestion Intégrale</h3>
          <p class="">Bénéficiez d'une gestion exhaustive couvrant tous les aspects de la location, assurant ainsi efficacité, qualité et sérénité.</p>
        </div>

        <!-- Connaissance Approfondie du Marché Cambodgien -->
        <div class="p-3  rounded-lg" data-aos="fade-up">
            <h3 class="text-yellow-500 font-semibold mb-2 border-b border-stone-500 py-1 uppercase">Connaissance Approfondie du Marché Cambodgien</h3>
            <p class="">Notre expertise du marché local au Cambodge nous permet d'optimiser le positionnement de votre bien.</p>
          </div>

        <!-- Expertise en Valorisation Immobilière -->
        <div class="p-3  rounded-lg" data-aos="fade-up">
            <h3 class="text-yellow-500 font-semibold mb-2 border-b border-stone-500 py-1 uppercase">Expertise en Valorisation Immobilière</h3>
            <p class="">Notre savoir-faire en valorisation immobilière met en avant votre propriété, augmentant ainsi son attrait et ses revenus potentiels.</p>
        </div>
        

        
      </div>
    </div>
  </section>
  