{% load i18n %}

<!-- Modèles pour lien , utilisé pour lien vers la page de formulaire de contact-->
<!-- Sous-titre, phrase et bouton -->

<section class="py-20 px-4 bg-transparent text-center">

  <div class="container mx-auto max-w-3xl">

    <h2 class="text-3xl font-semibold text-white mb-10 uppercase" >
      {% trans small_title %}
    </h2>

    <p class=" text-white mb-10" >
      {% trans prompt_text %}
    </p>
    <a href="{% url button_url %}" 
    class="inline-flex items-center justify-center rounded-lg bg-gradient-to-br from-yellow-500 to-orange-500 px-6 py-3 text-sm uppercase leading-tight text-black shadow-md transition duration-150 ease-in-out hover:shadow-outline hover:text-white focus:outline-none focus:ring-2 focus:ring-yellow-500 focus:ring-opacity-50 font-semibold" 
    data-aos="fade-right" >

      {% trans button_text %}

    </a>
  </div>

</section>

