{% load i18n %}

<!-- Section pour le titre et la phrase d'accroche debut de page-->
<section>
  <div class="container mx-auto max-w-3xl text-center py-20 px-4">
    <h1
      class="text-3xl font-semibold tracking-tight text-white sm:text-4xl uppercase"
      data-aos="fade-right"
      data-aos-delay="500" data-aos-duration="1000"
    >
      {% trans h1_text %}
    </h1>

    <p
      class="pt-10 leading-8 text-white"
      data-aos="fade-right"
      data-aos-delay="800" data-aos-duration="1000"
    >
      {% trans p_text %}
    </p>
  </div>
</section>


