{% load i18n %}

<!-- Titre et phrase d'accroche pour début de page -->
<section>
  <div class="container mx-auto max-w-2xl text-center py-10 px-4">
    <h1
      class="text-3xl font-bold tracking-tight text-white sm:text-5xl"
      data-aos="fade-left"
      data-aos-duration="1000"
    >
      {% trans h1_text %}
    </h1>
    <p
      class="mt-6 text-lg leading-8 text-white"
      data-aos="fade-left"
      data-aos-duration="1500"
    >
      {% trans p_text %}
    </p>
  </div>
</section>
