{% load i18n %}

<!-- Model pour afficher les colonnes de texte-->
<!-- Utilisé pour la page d'accueil (section "nos valeurs") et page service ("section critère d'acceptation") -->
<!-- Titre, phrase, icones, textes-->

<section>
  <div class="container mx-auto flex flex-col items-center text-center text-white gap-10 px-4 mb-6">
    
    <div class="flex flex-col gap-3 items-center" data-aos="fade-up" data-aos-delay="100">
      <div class="flex items-center gap-2 font-semibold uppercase text-yellow-500 text-lg">
        {% if icon1 %}
          <span class="material-symbols-outlined">{{ icon1 }}</span>
        {% endif %}
        {% trans title1 %}
      </div>
      <p class="text-base">
        {% trans sentence1 %}
      </p>
      <div class="mx-auto w-10 border-b border-stone-500 py-1 pt-5"></div>
    </div>
  
    <div class="flex flex-col gap-3 items-center" data-aos="fade-up" data-aos-delay="100">
      <div class="flex items-center gap-2 font-semibold uppercase text-yellow-500 text-lg">
        {% if icon2 %}
          <span class="material-symbols-outlined">{{ icon2 }}</span>
        {% endif %}
        {% trans title2 %}
      </div>
      <p class="text-base">
        {% trans sentence2 %}
      </p>
      <div class="mx-auto w-10 border-b border-stone-500 py-1 pt-5"></div>
    </div>

    <div class="flex flex-col gap-3 items-center" data-aos="fade-up" data-aos-delay="100">
      <div class="flex items-center gap-2 font-semibold uppercase text-yellow-500 text-lg">
        {% if icon3 %}
          <span class="material-symbols-outlined">{{ icon3 }}</span>
        {% endif %}
        {% trans title3 %}
      </div>
      <p class="text-base">
        {% trans sentence3 %}
      </p>
    </div>

  </div>
</section>
