{% load i18n %} 

<!-- Section FAQ -->
<!-- Utilisé dans la page d'accueil -->

{% include "_section_title.html" with subheading="Frequently Asked Questions" heading="Find Answers to Your Queries" %}

<!-- Conteneur principal de l'accordéon FAQ -->
<section>
  <div class="mx-auto max-w-2xl rounded-lg bg-black p-8 shadow-lg">

    <!-- Identifiant unique pour chaque instance d'accordéon pour éviter les conflits -->
    <div id="accordion-{{ unique_id }}">

      {% for faq in faqs %}

      <!-- Chaque élément FAQ -->
      <h2 id="accordion-heading-{{ unique_id }}-{{ forloop.counter }}">

        <!-- Bouton de question FAQ -->
        <button
          type="button"
          class="accordion-button flex w-full items-center justify-between rounded-lg border border-gray-300 bg-black px-6 py-4 text-white hover:bg-gray-800 focus:outline-none focus:ring-2 focus:ring-gray-700 focus:ring-opacity-50"
          aria-expanded="false"
          aria-controls="accordion-body-{{ unique_id }}-{{ forloop.counter }}"
        >

          <!-- Question -->
          <span class="flex-grow">{{ faq.question }}</span>

          <!-- Icône d'expansion -->
          <i class="fas fa-chevron-down ml-2 text-white transition-transform duration-300"></i>

        </button>

      </h2>

      <!-- Corps de la réponse FAQ -->
      <div
        id="accordion-body-{{ unique_id }}-{{ forloop.counter }}"
        class="mt-2 hidden rounded-lg border border-gray-300 bg-black px-6 py-4 transition-opacity duration-500 ease-out"
        aria-labelledby="accordion-heading-{{ forloop.counter }}"
      >

        <!-- Réponse -->
        <div class="text-white">{{ faq.answer }}</div>

      </div>

      {% endfor %}

    </div>
  </div>
</section>

<script>
  document.addEventListener("DOMContentLoaded", () => {

    // Sélectionner tous les boutons d'accordéon dans la page
    document.querySelectorAll(".accordion-button").forEach((button) => {

      // Ajouter un écouteur d'événements pour chaque clic sur un bouton d'accordéon
      button.addEventListener("click", () => {

        // Identifier le corps de l'accordéon associé au bouton cliqué
        const accordionBody = document.getElementById(button.getAttribute("aria-controls"));

        // Basculer l'attribut 'aria-expanded' pour refléter l'état ouvert ou fermé de l'accordéon
        const isExpanded = button.getAttribute("aria-expanded") === "true";
        button.setAttribute("aria-expanded", !isExpanded);

        // Basculer les classes CSS pour montrer ou cacher le corps de l'accordéon
        if (isExpanded) {
          accordionBody.classList.add("hidden");
          accordionBody.classList.remove("block");
        } else {
          accordionBody.classList.remove("hidden");
          accordionBody.classList.add("block");
        }

        // Changement de l'icône du bouton
        const icon = button.querySelector("i.fas");
        if (icon) {
          icon.classList.toggle("fa-chevron-down");
          icon.classList.toggle("fa-chevron-up");
        }

      });
    });
  });
</script>
