{% load static i18n %}

<header class="fixed w-full bg-black z-50">
  <nav
    id="nav"
    class="container mx-auto flex items-center justify-between p-4 text-white"
  >
    <!-- Conteneur pour le logo et le titre -->
    <div>
      <a
        href="{% url 'home' %}"
        class="flex flex-col items-center"
        aria-label="Home page"
      >
        <img
          src="{% static 'images/logo.png' %}"
          alt="Logo de ANGKOR LUXE"
          class="hidden md:block h-auto w-8 sm:w-10"
        />
        <h1
          id="title"
          class="text-sm font-semibold uppercase bg-clip-text text-transparent bg-gradient-to-r from-yellow-600 via-yellow-300 to-yellow-600 whitespace-nowrap"
        >
          ANGKOR LUXE
        </h1>
      </a>
    </div>

    <div class="nav-selector flex justify-between items-center">
      <ul
        class="sm:flex flex-col sm:flex-row justify-between items-center bg-black sm:text-base lg:ml-60"
      >
        <li class="text-center p-4">
          <a
            href="{% url 'our_values' %}"
            class="hover:text-yellow-500 whitespace-nowrap"
            >{% trans "Our Values" %}</a
          >
        </li>
        <li class="text-center p-4">
          <a
            href="{% url 'services' %}"
            class="hover:text-yellow-500 whitespace-nowrap"
            >{% trans "Our Offers" %}</a
          >
        </li>
        <li class="text-center p-4">
          <a href="#" class="hover:text-yellow-500 whitespace-nowrap"
            >{% trans "Contact Us" %}</a
          >
        </li>
      </ul>

      <button id="menu-btn" class="sm:hidden">
        <span class="material-symbols-outlined text-white p-2">menu</span>
        <span class="material-symbols-outlined text-white hidden p-2"
          >close</span
        >
      </button>

      <form action="{% url 'set_language' %}" method="post">
        {% csrf_token %}
        <input name="next" type="hidden" value="{{ request.path }}" />
        <select
          name="language"
          onchange="this.form.submit()"
          id="languageSelector"
          class="bg-black text-white rounded-lg text-sm border-none te"
        >
          <option value="en">EN</option>
          <option value="fr">FR</option>
          <option value="km">KM</option>
        </select>
      </form>
    </div>
  </nav>
</header>

<script>
  document.addEventListener("DOMContentLoaded", function () {
    const nav = document.getElementById("nav");
    const menuBtn = document.getElementById("menu-btn");
    const menu = nav.querySelector("ul");
    const menuOpenIcon = menuBtn.children[0];
    const menuCloseIcon = menuBtn.children[1];

    menuBtn.addEventListener("click", () => {
      const isActive = nav.classList.toggle("active");
      menuOpenIcon.classList.toggle("hidden", isActive);
      menuCloseIcon.classList.toggle("hidden", !isActive);
    });

    function adjustMenuTop() {
      const navHeight = nav.offsetHeight;
      menu.style.top = `${navHeight}px`;
    }

    adjustMenuTop();
    window.addEventListener("resize", adjustMenuTop);
  });
</script>
