{% comment %} {% load i18n %}

<!-- theme/templates/_header.html -->
<header class="bg-green-400">
  <nav class="bg-red-600">
    <a href="{% url 'contact' %}">Contact</a>
  </nav>

  <section>
    <form action="{% url 'set_language' %}" method="post">
      {% csrf_token %}
      <input name="next" type="hidden" value="{{ request.path }}" />
      <select
        name="language"
        onchange="this.form.submit()"
        id="languageSelector"
      >
        <option value="en">English</option>
        <option value="fr">Français</option>
        <option value="km">ខ្មែរ</option>
      </select>
    </form>
    <h1 class="text-blue-900 flex justify-center items-center">
      {% trans "Hello friends!" %}
    </h1>
  </section>
</header>

<script>
  document.addEventListener("DOMContentLoaded", function () {
    var selectedLanguage = "{{ request.LANGUAGE_CODE }}";
    var languageSelector = document.getElementById("languageSelector");
    if (languageSelector) {
      languageSelector.value = selectedLanguage;
    }
  });
</script> {% endcomment %}
