{% load static i18n %}

<!-- Section principale de la page d'accueil avec image de fond, titre, sous-titre et boutons -->
<section class="pt-20">
  <div class="relative min-h-screen">
    <!-- Image de fond avec positionnement absolu -->
    <img
      src="{{ homepage_section.image.url }}"
      alt="Cambodian house"
      class="absolute w-full h-full object-cover"
      loading="lazy"
    />

    <!-- Conteneur du contenu superposé sur l'image de fond -->
    <div
      class="relative mx-auto max-w-2xl pt-[100px] sm:pt-[300px] text-center flex flex-col gap-10 px-4"
    >
      <!-- Titre principal avec animation -->
      <h1
        class="text-3xl font-semibold tracking-tight text-white sm:text-4xl uppercase"
        data-aos="fade-right" data-aos-delay="500" data-aos-duration="1000"
      >
        {{ homepage_section.title }}
      </h1>

      <!-- Sous-titre avec animation -->
      <p
        class="text-2xl leading-8 text-white font-semibold"
        data-aos="fade-right" data-aos-delay="800" data-aos-duration="1000"
      >
        {{ homepage_section.subtitle }}
      </p>

      <!-- Conteneur des boutons avec animation -->
      <div
        class="flex items-center justify-center gap-x-6"
        data-aos="fade-right" data-aos-delay="1100" data-aos-duration="1000"
      >
        <!-- Premier bouton -->
        <a
          href="{% url 'values' %}"
          class="inline-flex items-center justify-center rounded-lg bg-gradient-to-br from-yellow-500 to-orange-500 px-4 py-3 text-sm leading-tight text-black shadow-md transition duration-150 ease-in-out hover:shadow-outline hover:text-white focus:outline-none focus:ring-2 focus:ring-yellow-500 focus:ring-opacity-50 font-semibold"
        >
          {{ homepage_section.first_button_text }}
        </a>

        <!-- Second bouton -->
        <a
          href="{% url 'services' %}"
          class="rounded-md border border-white px-2 py-2 text-sm font-semibold leading-6 text-white transition-all ease-in-out duration-300 hover:bg-black hover:text-white"
          aria-label="Découvrez notre offre"
        >
          {{ homepage_section.second_button_text }}
          <span aria-hidden="true">→</span>
        </a>
      </div>
    </div>
  </div>
</section>

{% comment %} {% load static i18n %}

<!-- Image de page d'accueil avec titre, texte et deux boutons -->

<section class="pt-20">
  <div class="relative min-h-screen">
    <!-- Image avec positionnement absolu pour couvrir le conteneur -->
    <img
      src="{{ homepage_section.image.url }}"
      alt="Une poignée de main symbolisant l'intégrité et la coopération"
      class="absolute w-full h-full object-cover"
      loading="lazy"
    />

    <!-- Contenu superposé sur l'image -->
    <div
      class="relative mx-auto max-w-2xl pt-[200px] sm:pt-[300px] text-center flex flex-col gap-10 px-4"
    >
      <!-- L'animation commencera à la valeur de data-delay après le chargement du dom  -->
      <h1
        class="text-3xl font-bold tracking-tight text-white sm:text-5xl"
        data-animation="fadeInLeft"
        data-delay="0.3s"
      >
        {{ homepage_section.title }}
      </h1>
      <p
        class="text-2xl leading-8 text-white font-semibold"
        data-animation="fadeInLeft"
        data-delay="0.6s"
      >
        {{ homepage_section.subtitle }}
      </p>
      <div
        class="flex items-center justify-center gap-x-6"
        data-animation="fadeInLeft"
        data-delay="0.9s"
      >
        <a
          href="#"
          class="inline-flex items-center justify-center rounded-lg bg-gradient-to-br from-yellow-500 to-orange-500 px-4 py-3 text-sm leading-tight text-black shadow-md transition duration-150 ease-in-out hover:shadow-outline hover:text-white focus:outline-none focus:ring-2 focus:ring-yellow-500 focus:ring-opacity-50 font-semibold"
        >
          {{ homepage_section.first_button_text }}
        </a>

        <a
          href="{% url 'services' %}"
          class="rounded-md border border-white px-2 py-2 text-sm font-semibold leading-6 text-white transition-all ease-in-out duration-300 hover:bg-black hover:text-white"
          aria-label="Learn More"
        >
          {{ homepage_section.second_button_text }}
          <span aria-hidden="true">→</span>
        </a>
      </div>
    </div>
  </div>
</section>
{% endcomment %}
