{% load static i18n %}

<!-- Section Introduction Détaillée -->
<section class="text-white py-20">
  <div class="container mx-auto px-4 max-w-4xl text-center flex flex-col gap-8">
    
      <h2 class="text-4xl font-bold mb-6">
        {% trans "Vous cherchez une gestion locative sans souci au Cambodge ?" %}
      </h2>

      <p class="mb-4 text-lg">
        {% trans "Bienvenue chez ANGKOR LUXE, votre allié de confiance pour une gestion locative clé en main qui maximise votre rentabilité tout en offrant une expérience inoubliable à vos invités." %}
      </p>

      <p class="mb-8 text-lg">
        {% trans "Découvrez comment notre expertise exclusive en gestion locative peut transformer votre propriété en une source de revenus lucrative, sans les tracas habituels." %}
      </p>

      <div class="flex flex-col sm:flex-row justify-center items-center gap-8" data-aos="fade-right" data-aos-duration="1000">
        <a
        href="{% url 'services' %}"
        class="bg-transparent border-2 border-yellow-600 bg-gradient-to-br from-yellow-500 to-orange-500 text-black px-4 py-3 rounded-lg font-semibold transition duration-300 hover:text-white text-sm"
        >{% trans "Explorez notre offre" %}</a
      >

      <a
        href="{% url 'values' %}"
        class=" bg-transparent border-2 border-yellow-600 text-yellow-600 px-4 py-3 rounded-lg font-semibold transition duration-300 hover:bg-gradient-to-br from-yellow-500 to-orange-500 hover:text-black text-sm"
        >{% trans "Pourquoi choisir ANGKOR LUXE ?" %}</a
      >

      </div>

    
  </div>
</section>
