{% load static i18n %}

<!-- Section Introduction Détaillée pour page d'accueil : titre, sous titre + 2 boutons -->
<section class="text-white py-20">
  <div class="container mx-auto px-4 max-w-3xl text-center flex flex-col gap-8">
    
      <h2 class="text-3xl font-semibold mb-6 uppercase">
        {% trans "Are you looking for worry-free rental management in Cambodia?" %}
      </h2>

      <p class="mb-4 text-lg">
        {% trans "Welcome to ANGKOR MANAGEMENT, your trusted ally for turnkey rental management that maximizes your profitability while offering an unforgettable experience to your guests." %}
      </p>

      <p class="mb-8 text-lg">
        {% trans "Discover how our exclusive rental management expertise can turn your property into a lucrative source of income, without the usual hassle." %}
      </p>

      <div class="flex flex-col sm:flex-row justify-center items-center gap-8" data-aos="fade-right" data-aos-duration="1000">
        <a
        href="{% url 'services' %}"
        class="bg-transparent border-2 border-yellow-600 bg-gradient-to-br from-yellow-500 to-orange-500 text-black px-4 py-3 rounded-lg font-semibold transition duration-300 hover:text-white text-sm uppercase"
        >
        {% trans "Explore our offer" %}
      </a>

      <a
        href="{% url 'values' %}"
        class=" bg-transparent border-2 border-yellow-600 text-yellow-600 px-4 py-3 rounded-lg font-semibold transition duration-300 hover:bg-gradient-to-br from-yellow-500 to-orange-500 hover:text-black text-sm uppercase"
        >{% trans "Why choose ANGKOR MANAGEMENT?" %}
      </a>

    </div>
  </div>
</section>
