{% extends 'base.html' %} 
{% load static i18n %} 
{% block content %}

<!-- Page Formulaire -->
<div class="pt-[90px]"></div>

{% include '_custom_section_title.html' with h1_text="Launch Your Real Estate Project With ANGKOR MANAGEMENT" p_text="Whether it is maximizing the profitability of your properties, seeking excellence in rental management, or simply freeing you from daily hassles, our team is ready to listen to your needs and offer you tailor-made solutions. Fill out the form below so we can start bringing your vision to life." %}


<!-- Section Critères d'Acceptation -->
<section id="acceptance-criteria" class="text-white pt-[100px] flex items-center flex-col gap-10">
  <div class="container mx-auto px-4 max-w-3xl text-center">
    <h2 class="text-center text-3xl font-semibold mb-8 uppercase">
      {% trans "What are our Acceptance Criteria?" %}
    </h2>

    <p>
      {% trans "To ensure a successful and fruitful collaboration, we have established 3 acceptance criteria. Please ensure your property meets the following requirements before submitting your application." %}
    </p>
  </div>

    {% include "_custom_selection_section.html" with icon1="location_on" title1="Location" sentence1="The property must be located in Siem Reap, Cambodia." icon2="home_app_logo" title2="Property Type" sentence2="We focus our services on houses and villas, excluding apartments for the moment." icon3="local_laundry_service" title3="Functional Equipment" sentence3="All essential equipment (electricity, plumbing, etc.) must be in working order." %}
</section>


<!-- Section formulaire de contact -->
{% include "_section_title.html" with subheading="contact us" heading="let's discuss your project together" %}

<div class="container mx-auto flex items-center justify-center px-4">
  <form
    method="post"
    id="contactForm"
    action="{% url 'contact' %}"
    class="mx-auto w-full max-w-[550px]"
  >
    {% csrf_token %} {% for message in messages %}

    <div class="alert {{ message.tags }}">{{ message }}</div>

    {% endfor %} 
    
    {% for field in form %}

    <div class="flex flex-col mb-2">

      <label for="{{ field.id_for_label }}"class="text-gray-500 mb-2">
        {{ field.label }}
      </label>

      {{ field }} {% if field.name == "message" %}

      <!-- Compteur de caractères pour le message -->
      
      <div class="flex justify-between items-center my-4">
        <div id="char_count" class="text-gray-500">0/1000</div>

        <!-- Ajout du texte explicatif pour l'étoile (*) -->
        <div class="text-gray-500 text-sm">
          <span class="text-gray-500">*</span> {% trans "Required field" %}
        </div>

      </div>
      {% endif %}

      <div
        id="error_{{ field.name }}"
        class="text-red-500 text-sm mt-1"
        style="display: none"
      ></div>
      <!-- Zone d'affichage des erreurs -->
    </div>
    {% endfor %}

    <div class="acceptance-criteria text-white flex flex-col gap-4 py-4">
      <h3 class="font-semibold mb-4 uppercase">{% trans "Acceptance Criteria:" %}</h3>
      <ul class="flex flex-col gap-y-4">
        <li>{% trans "LOCATION: The property must be located in Siem Reap, Cambodia." %}</li>
        <li>{% trans "PROPERTY TYPE: We focus our services on houses and villas, excluding apartments for the moment." %}</li>
        <li>{% trans "FUNCTIONAL EQUIPMENT: All essential equipment (electricity, plumbing, etc.) must be in working order." %}</li>
      </ul>
      <label class="pt-4">
        <input type="checkbox" name="acceptance" required>
        {% trans "I have read and accepted the acceptance criteria." %}
      </label>
    </div>
    

    {% comment %} <div class="acceptance-criteria text-white flex flex-col gap-4 py-4">
      <h3 class=" font-semibold mb-4 uppercase">Critères d'acceptation :</h3>
      <ul class="flex flex-col gap-y-4 list-disc">
          <li>EMPLACEMENT : La propriété doit être située à Siem Reap, au Cambodge.</li>
          <li>TYPE DE PROPRIÉTÉ : Nous concentrons nos services sur les maisons et villas, hors appartements pour le moment.</li>
          <li>ÉQUIPEMENT FONCTIONNEL : Tous les équipements essentiels (électricité, plomberie, etc.) doivent être en état de marche.</li>
      </ul>
      <label class="pt-4">
          <input type="checkbox" name="acceptance" required>
          J'ai lu et accepté les critères d'acceptation.
      </label>
    </div> {% endcomment %}
  

    <button
      type="submit"
      class="inline-flex items-center justify-center rounded-lg bg-gradient-to-br from-yellow-500 to-orange-500 px-6 py-3 text-sm uppercase leading-tight text-black shadow-md transition duration-150 ease-in-out hover:shadow-outline hover:text-white focus:outline-none focus:ring-2 focus:ring-yellow-500 focus:ring-opacity-50 font-semibold"
    >
      {% trans "SEND" %}
    </button>
  </form>
</div>
{% endblock %}

