{% extends 'base.html' %} {% load static i18n %} {% block content %}

<div class="pt-[90px]"></div>

{% include '_custom_section_title.html' with h1_text="Discover our tailor-made formulas, adapted to all your rental management needs." p_text="Whether you are a demanding owner in search of excellence, a real estate investor in search of maximum return, or in search of serenity and tranquility, ANGKOR LUXE offers three unique solutions." %}

{% include "_section_title.html" with subheading="contact us" heading="let's discuss your project together" %}

<p>nouvelle page contact</p>

<div class="container mx-auto flex items-center justify-center px-4">
  <form
    method="post"
    id="contactForm"
    action="{% url 'contact' %}"
    class="mx-auto w-full max-w-[550px]"
  >
    {% csrf_token %} {% for message in messages %}
    <div class="alert {{ message.tags }}">{{ message }}</div>
    {% endfor %} {% for field in form %}
    <div class="flex flex-col mb-2">
      <label for="{{ field.id_for_label }}" class="text-white mb-2"
        >{{ field.label }}</label
      >
      {{ field }} {% if field.name == "message" %}
      <div id="char_count" class="text-white mt-2">0/1000</div>
      <!-- Compteur de caractères pour le message -->
      {% endif %}
      <div
        id="error_{{ field.name }}"
        class="text-red-500 text-sm mt-1"
        style="display: none"
      ></div>
      <!-- Zone d'affichage des erreurs -->
    </div>
    {% endfor %}
    <button
      type="submit"
      class="inline-flex items-center justify-center rounded-lg bg-gradient-to-br from-yellow-500 to-orange-500 px-6 py-3 text-sm uppercase leading-tight text-black shadow-md transition duration-150 ease-in-out hover:shadow-outline hover:text-white focus:outline-none focus:ring-2 focus:ring-yellow-500 focus:ring-opacity-50 font-semibold"
    >
      {% trans "SEND" %}
    </button>
  </form>
</div>
{% endblock %}

<!-- Chargement de jQuery s'il n'est pas déjà chargé -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<script>
  $(document).ready(function () {
    // Définition des expressions régulières pour la validation des champs
    var nameRegex = /^[a-zA-Z\s]+$/; // Lettres et espaces uniquement pour les noms
    var phoneRegex = /^[0-9\s\-\(\)]+$/; // Chiffres, espaces, tirets et parenthèses pour les numéros de téléphone
    var maxChars = 1000; // Nombre maximum de caractères autorisés pour le message

    // Fonction pour valider les champs du formulaire
    function validateField(fieldId, regex, errorMsgId, errorMsg) {
      $(fieldId).blur(function () {
        var fieldValue = $(this).val();
        if (fieldValue && !regex.test(fieldValue)) {
          $(errorMsgId).text(errorMsg).show(); // Affiche le message d'erreur si la valeur du champ n'est pas valide
        } else {
          $(errorMsgId).hide(); // Cache le message d'erreur si la valeur du champ est valide
        }
      });
    }

    // Application de la validation pour chaque champ
    validateField(
      "#id_email",
      /^[^\s@]+@[^\s@]+\.[^\s@]+$/,
      "#error_email",
      '{% trans "Please enter a valid email address." %}'
    );

    validateField(
      "#id_first_name",
      nameRegex,
      "#error_first_name",
      '{% trans "Please enter a valid name with letters only." %}'
    );

    validateField(
      "#id_last_name",
      nameRegex,
      "#error_last_name",
      '{% trans "Please enter a valid name with letters only." %}'
    );

    validateField(
      "#id_phone",
      phoneRegex,
      "#error_phone",
      '{% trans "Please enter a valid phone number with digits only." %}'
    );

    // Gestion du compteur de caractères pour le champ de message
    $("#id_message").on("input", function () {
      var currentLength = $(this).val().length;
      $("#char_count").text(currentLength + "/" + maxChars); // Mise à jour du compteur

      // Changement de couleur du compteur selon la longueur du message
      if (currentLength >= maxChars) {
        $("#char_count").css("color", "red"); // Rouge si le maximum est atteint ou dépassé
      } else if (currentLength > 900) {
        $("#char_count").css("color", "orange"); // Orange si proche du maximum
      } else {
        $("#char_count").css("color", "white"); // Blanc par défaut
      }

      // Empêche l'ajout de caractères au-delà du maximum autorisé
      if (currentLength > maxChars) {
        $(this).val($(this).val().substr(0, maxChars));
      }
    });
  });
</script>
