{% extends 'base.html' %}
{% load static i18n %}

{% block content %}

<!-- Image de présentation -->
{% include '_homepage_section.html' %}

<!-- Section Nos valeurs -->
{% include "_section_title.html" with subheading="Our Values" heading="The Pillars of Our Excellence" %}

<!-- Liste de "Nos valeurs" -->
{% include "_custom_selection_section.html" with under_title1="Transparency" small_sentences1="Every intervention on your property, reported in complete clarity." under_title2="Trust" small_sentences2="Entrust us with your property, we take care of everything, as if it were ours."  under_title3="Availability" small_sentences3="Our concierge service available 7/7, for uninterrupted management." %}


<!-- Section Notre formule-->
<img 
  src="{% static 'images/14.png' %}" 
  alt="" 
  class="w-full h-[800px] object-cover object-center pt-10" 
  loading="lazy">

{% include "_section_title.html" with subheading="sangoku" heading="Notre formule" %}

{% include "_custom_selection_section.html" with small_icon1="fa-solid fa-sack-dollar" under_title1="PROFITABILITY1" small_sentences1="Optimized income" small_icon2="fa-solid fa-sack-dollar" under_title2="PROFITABILITY2" small_sentences2="Optimized income" small_icon2="fa-solid fa-sack-dollar" under_title3="PROFITABILITY3" small_sentences3="Optimized income" %}


{% comment %} {% include '_values_section.html' %} {% endcomment %}

<img 
  src="{% static 'images/22.png' %}" 
  alt="" 
  class="w-full h-[700px] object-cover object-center pt-10" 
  loading="lazy">


{% include '_testimonials_section.html' %}

<!-- Section questions/réponses pour page d'accueil -->
{% include '_faq_section.html' with faqs=general_faqs %}


<!-- Lien de page contact -->
{% include '_contact_link.html' with small_title="Launch Your Real Estate Project With Us" prompt_text="Join the ANGKOR LUXE adventure and transform your rental management into an exceptional experience. Our team of experts is ready to support you towards success. Take the first step now!" button_url="contact" button_text="Contact Us" %}

{% endblock %}
