{% extends "base.html" %} {% load static i18n %}

<!-- Section offre unique -->
{% block content %}
<div class="pt-[90px]"></div>

<!-- Titre et sous titre-->
{% if service %} {% include "_custom_section_title.html" with h1_text=service.title p_text=service.description %} {% endif %}

<img
  src="{% static 'images/26.png' %}"
  alt=""
  class="w-full h-[700px] object-cover object-center pt-10"
  loading="lazy"
/>

{% include "_section_title.html" with subheading="Inclus" heading="Notre formule" %}

<!-- Affichage des offres liées à l'offre unique -->
<div class="container mx-auto py-4 px-4 lg:max-w-5xl">
  <div class="grid grid-cols-1 lg:grid-cols-2 gap-6">
    {% for offering in service.offerings.all %}
    <div class="custom-bg-color p-4 rounded-lg shadow-md">
      <h3 class="flex items-center font-semibold uppercase text-yellow-500 mb-2 border-b py-2"><span class="material-symbols-outlined p-1">
        check
        </span>{{ offering.title }}</h3>
      <p class="text-white ">{{ offering.description }}</p>
    </div>
    {% endfor %}
  </div>
</div>



<!-- Section FAQ pour le service -->
{% if service.faqs.exists %} {% include '_faq_section.html' with
faqs=service.faqs.all unique_id=forloop.counter %} {% endif %} {% endblock %}
