{% extends 'base.html' %} {% load static i18n %}

<!-- Page Nos valeurs -->

{% block content %}
<div class="pt-[90px]"></div>

{% include '_custom_section_title.html' with h1_text="Profitable and Worry-Free Rental Management" p_text="Opt for ANGKOR MANAGEMENT and benefit from simplified and profitable rental management. We take care of all aspects of rental, ensuring you maximized revenue and unrivaled peace of mind. Our expertise transforms your property into an attractive source of income, without you having to worry about the details. Discover the ease of rental management that works for you." %}

<img
  src="{% static 'images/poignee-main1.png' %}"
  alt="A handshake symbolizing integrity and cooperation"
  class="w-full sm:h-[500px] md:object-cover object-scale-down"
  loading="lazy"
/>

{% include "_section_title.html" with subheading="The Principles That Guide Us" heading="Our Values" %}



<!-- Section Nos Valeurs -->
<section class=" text-white ">
  <div class="container mx-auto px-4">
   
    <p class=" mb-6 text-center max-w-3xl mx-auto">
      {% trans "At the heart of ANGKOR MANAGEMENT, three fundamental pillars inspire our daily life and shape our relationship with each owner. They embody our commitment to transparent, reliable and attentive rental management." %}
    </p>

    <div class="grid grid-cols-1 lg:grid-cols-3 gap-8 text-center mt-14">
      <!-- Transparence -->
      <div class="px-6 py-4" data-aos="fade-up" data-aos-delay="100">
        <h3 class="text-xl font-semibold mb-4 text-yellow-600 uppercase">
          {% trans "Absolute Transparency" %}
        </h3>
        <p>
          {% trans "We are committed to open and honest communication, keeping you informed of every detail. Your peace of mind begins with clarity in our actions and decisions." %}
        </p>
      </div>

      <!-- Confiance -->
      <div class="px-6 py-4" data-aos="fade-up" data-aos-delay="300">
        <h3 class="text-xl font-semibold mb-4 text-yellow-600 uppercase">
          {% trans "A Shared Trust" %}
        </h3>
        <p>
          {% trans "Trust is the cornerstone of our relationship. By entrusting us with your property, you benefit from prudent and attentive management, because we take care of each property as if it were our own." %}
        </p>
      </div>

      <!-- Disponibilité -->
      <div class="px-6 py-4" data-aos="fade-up" data-aos-delay="500">
        <h3 class="text-xl font-semibold mb-4 text-yellow-600 uppercase">
          {% trans "Always at your service" %}
        </h3>
        <p>
          {% trans "Our dedicated team is at your disposal every day of the week, ensuring continuous and responsive management. Your property will never experience downtime with ANGKOR MANAGEMENT." %}
        </p>
      </div>
    </div>
  </div>
</section>

<img
  src="{% static 'images/29.png' %}"
  alt=""
  class="w-full h-[700px] object-cover object-center py-20"
  loading="lazy"
/>


<!-- Section: Notre Histoire -->
<section class="text-white py-12">
  <div class="container mx-auto px-4 max-w-3xl">
    <div class="text-center mb-12">
      <h2 class="text-3xl font-semibold mb-4 uppercase">{% trans "Our Heritage: Expertise in the Service of Cambodia" %}</h2>
      <p class="text-xl py-4">{% trans "From a concierge service to rental management." %}</p>
    </div>

    <p class="mb-6 text-center max-w-4xl mx-auto px-4">
      {% trans "With a history rich in collaborations, from event management for personalities to rental management, the founders of ANGKOR MANAGEMENT have always placed excellence and adaptability at the heart of their profession. Our expertise covers a wide range, from luxury concierge services to sophisticated rental management, for international clients." %}
    </p>

    <p class="mb-6 text-center max-w-4xl mx-auto px-4">
      {% trans "It is with this rich experience that we decided to take on a new challenge: transposing our know-how in luxury concierge and rental management in Cambodia. We chose Siem Reap not only for its unexplored potential in rental management. It is in this spirit that ANGKOR MANAGEMENT was designed: to offer a high quality of service, supported by our past experience." %}
    </p>

    <p class="mb-6 text-center max-w-4xl mx-auto px-4">
      {% trans "ANGKOR MANAGEMENT is therefore the fruit of this ambition: to offer Cambodian and international owners unrivaled rental management, enriched by our international experience and our attention to detail. Join us on this adventure." %}
    </p>
  </div>
</section>




<!-- Lien vers la page de l'offre -->
{% include '_contact_link.html' with small_title="Discover How to Maximize Your Rental Income" prompt_text="Explore our unique rental management package and see how we can transform your property into a hassle-free source of income." button_url="services" button_text="Explore Our Offer" %}




<img
  src="{% static 'images/25.png' %}"
  alt="entrance to a beautiful Cambodian villa"
  class="w-full sm:h-[500px] md:object-cover object-scale-down my-10"
  loading="lazy"
/>


{% include "_section_title.html" with subheading="Our engagement" heading="Your Serenity" %}

<!-- Section: Sérénité et Engagement ANGKOR MANAGEMENT -->
<section class=" text-white pb-20 ">
  <div class="container mx-auto px-4 text-center max-w-3xl">
    <div class="text-center mb-12">
      <h2 class="text-3xl font-semibold mb-4 uppercase">{% trans "Discover how ANGKOR MANAGEMENT is dedicated to the success of your rental project" %}</h2> 
    
    </div>
    
    <!-- Nos Engagements -->
    <div class="flex flex-col gap-8 text-center mt-14">
      <div class="px-6 py-4" data-aos="fade-up" data-aos-delay="100">
        <h3 class="text-xl font-semibold mb-4 text-yellow-600 uppercase">{% trans "Harmonious Rental Management" %}</h3>
        <p>{% trans "At ANGKOR MANAGEMENT, we transform the management of your property into a smooth and rewarding experience. From the careful selection of respectful tenants, to transparent management of arrivals and departures, and up to the careful maintenance of your property, we strive to maximize your peace of mind and your rental yield." %}</p>
      </div>

      <div class="px-6 py-4" data-aos="fade-up" data-aos-delay="100">
        <h3 class="text-xl font-semibold mb-4 text-yellow-600 uppercase">{% trans "Responsibility and Serenity" %}</h3>
        <p>{% trans "Chez ANGKOR MANAGEMENT, nous comprenons l'importance de maintenir votre propriété dans un état impeccable. Nous mettons tout en œuvre pour assurer une gestion locative équilibrée et efficiente, minimisant vos charges et maximisant votre tranquillité d'esprit. En cas de dommages, nous assurons que les responsabilités soient clairement définies et prises en charge conformément aux termes du contrat de location, garantissant ainsi la protection de votre investissement sans coûts supplémentaires inattendus." %}</p>
      </div>
    </div>
  </div>
</section>





<!-- Lien de page contact -->
{% include '_contact_link.html' with small_title="Launch Your Real Estate Project With Us" prompt_text="Join the ANGKOR MANAGEMENT adventure and transform your rental management into an exceptional experience. Our team of experts is ready to support you towards success. Take the first step now!" button_url="contact" button_text="Contact Us" %}


{% endblock %}
