@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Oxygen:wght@300;400;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

@layer base {
  html {
    font-family: "Montserrat", "Roboto", "Oxygen", sans-serif;
  }
}
/* Animation du défilement du menu burger dans navbar */
@media (max-width: 640px) {
  nav ul {
    position: fixed;
    left: -100%;
    width: 100%;
    transition: 0.5s;
    border-top: 1px solid rgb(89, 89, 89);
  }
  nav ul li {
    width: 100%;
    z-index: 0;
    border-top: 1px solid rgb(89, 89, 89);
  }
  nav.active ul {
    left: 0;
  }
  #nav form {
    flex-grow: 0; /* Empêche le formulaire de prendre trop de place */
  }
}
#languageSelector:focus {
  outline: none;
  border-color: transparent;
  box-shadow: 0 0 0 2px #fbbf24; /* Couleur yellow-500 de Tailwind */
}

#contact {
  margin-top: -100px; /* Ajustez cette valeur en fonction de la hauteur de votre en-tête */
  padding-top: 100px; /* Ajustez cette valeur pour compenser le décalage négatif */
}
