@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@layer base {
  html {
    font-family: "Montserrat", sans-serif;
  }
}
/* Animation du défilement du menu burger dans navbar */
@media (max-width: 768px) {
  nav ul {
    position: fixed;
    left: -100%;
    width: 100%;
    transition: 0.5s;
    border-top: 1px solid rgb(89, 89, 89);
  }
  nav ul li {
    width: 100%;
    z-index: 0;
    border-top: 1px solid rgb(89, 89, 89);
  }
  nav.active ul {
    left: 0;
  }
  #nav form {
    flex-grow: 0; /* Empêche le formulaire de prendre trop de place */
  }
}
#languageSelector:focus {
  outline: none;
  border-color: transparent;
  box-shadow: 0 0 0 2px #fbbf24;
}

#contact {
  margin-top: -100px; /* Ajustez cette valeur en fonction de la hauteur de votre en-tête */
  padding-top: 100px; /* Ajustez cette valeur pour compenser le décalage négatif */
}

/*Couleur et transparence de chaque option de la formule dans service.html*/
.custom-bg-color {
  background: linear-gradient(to right, #2c2c2c 0%, #686868 50%, #2c2c2c 100%);
}

/* .detail-section {
  background-color: #4b4b4b;
} */


/* style des champs du formulaire de contact */
.input-style {
  background-color: transparent;
  border: none;
  border-bottom: 2px solid #818181;
  color: #fff;
  font-size: 16px;
  margin-bottom: 20px;
  padding: 10px 0;
  width: 100%;
}

.input-style:focus {
  outline: none;
  /* border-bottom: 2px solid #FFD700; */
}

.input-style-message {
  background-color: transparent;
  border: 2px solid #818181;
  color: #fff;
  font-size: 16px;
  margin-bottom: 20px;
  padding: 10px;
  width: 100%;
}

.input-style-message:focus {
  outline: none;
  /* border-bottom: 2px solid #FFD700; */
}

